@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "تأكيد إعادة التعيين";
}

<div class="access-denied-container">
    <div class="access-denied-box">
        <div class="icon-wrapper" style="color: #38a169;">
            <i class="fas fa-check-circle"></i>
        </div>
        <h1>@ViewData["Title"]</h1>
        <p>
            تم إعادة تعيين كلمة المرور الخاصة بك بنجاح.
        </p>
        <a asp-page="./Login" class="btn btn-primary">اضغط هنا لتسجيل الدخول</a>
    </div>
</div>